# ==================================
# Your servers new hostname and timezone.
# FQDN will be "sys_hostname.sys_domain"
# Example for valid timezone data: https://www.vmware.com/support/developer/vc-sdk/visdk400pubs/ReferenceGuide/timezone.html
# If you plan to use "@sub.example.com" as mail domain, do NOT use "sub" as hostname!
# ==================================

sys_hostname="mail"
sys_domain="domain.com"
sys_timezone="Europe/Berlin"

# ==================================
# mailcow administrator
# Password policy: At least 8 characters long, including 2 numbers, an uppercase letter, and a lowercase letter.
# Recommended settings: Leave "genpasswd" to generate a secure password.
# ==================================

mailcow_admin_user="admin@$sys_domain"
mailcow_admin_pass=`genpasswd`
#Example
#mailcow_admin_pass="MyOwnPassword123"

# ==================================
# Choose a webserver platform
# Valid values are "nginx" or "apache2"
# Cal- and CardDAV need a dedicated subdomain
# The DAV subdomain cannot be "sys_hostname"
# ==================================

httpd_platform="nginx"
httpd_dav_subdomain="dav"

# ==================================
# MySQL/MariaDB configuration.
# Password policy: Not empty.
# Recommended password setting: Leave "genpasswd" to generate a secure password.
# ===============

# root password
my_rootpw=`genpasswd`

# mailcow database
my_mailcowdb="mailcow"
my_mailcowuser="mailcow"
my_mailcowpass=`genpasswd`

# Roundcube database
my_rcdb="roundcubedb"
my_rcuser="roundcube"
my_rcpass=`genpasswd`

# Use MariaDB instead of MySQL
my_usemariadb="no"

# **************************
# ADVANCED SQL CONFIGURATION
# Leave as-is for a
# default installation
# **************************

# IP or hostname of database server
# Only localhost or 127.0.0.1 are recognized as local database servers
my_dbhost="localhost"

# Use your current MySQL root password to connect to the existing database
#my_rootpw="MyCurrentMySQLRootPassword"

# ==================================
# Misc configuration option
# ==================================

# Do not confirm to proceed
inst_unattended="no"

# Be verbose
inst_debug="no"
