# ==================================
# Your servers new hostname and timezone.
# FQDN will be "sys_hostname.sys_domain"
# Example for valid timezone data: https://www.vmware.com/support/developer/vc-sdk/visdk400pubs/ReferenceGuide/timezone.html
# If you plan to use "@sub.domain.tld" as mail domain, do NOT use "sub" as hostname!
# ==================================

sys_hostname="mail"
sys_domain="domain.com"
sys_timezone="Europe/Berlin"

# ==================================
# mailcow administrator
# Password policy: At least 8 characters long, including 2 numbers, an uppercase letter, and a lowercase letter.
# Recommended settings: Leave "genpasswd" to generate a secure password.
# ==================================

mailcow_admin_user="admin@$sys_domain"
mailcow_admin_pass=`genpasswd`

#Example
#mailcow_admin_pass="MyOwnPassword123"

# ==================================
# Choose a webserver platform
# Valid values are "nginx" or "apache2"
# ==================================

conf_httpd="nginx"

# ==================================
# MySQL/MariaDB configuration.
# Password policy: Not empty.
# Recommended setting: Leave "genpasswd" to generate a secure password.
# ===============
# AN EXISTING MYSQL INSTANCE WILL BE USED AND NOT RECONFIGURED WHEN IT IS AVAILABLE
# AND IT IS USEABLE BY MAILCOW VIA DEBIAN DEFAULTS-FILE
# (Note: Leave "my_rootpw" setting below as it is, it will not have an effect, but needs to be set!)
# ==================================

# root password
my_rootpw=`genpasswd`

# mailcow database
my_mailcowdb="mailcow"
my_mailcowuser="mailcow"
my_mailcowpass=`genpasswd`

# Roundcube database
my_rcdb="roundcubedb"
my_rcuser="roundcube"
my_rcpass=`genpasswd`

# Use MariaDB instead of MySQL
my_usemariadb="yes"

#**** ADVANCED CONFIGURATION ****
# Please leave as-is for a common
# local installation
*********************************
# MySQL host to connect to
my_dbhost="localhost"

# MySQL defaults file
my_defaultsfile="/etc/mysql/debian.cnf"

# Set to "yes" to exit when connecting to a remote
# MySQL instance failed.
my_forceexisting="no"

# ==================================
# Self-signed certificate
# "cert_country" needs to be a valid 2 letter country code. See https://www.digicert.com/ssl-certificate-country-codes.htm
# ==================================

cert_country="DE"
cert_state="NRW"
cert_city="DUS"
cert_org="MAIL"

# ==================================
# Misc configuration option
# ==================================

# Do not confirm to proceed
inst_unattended="no"

# Be verbose
inst_debug="no"
